<!--header-->
<nav class= banner>

  <h1>
    <img src="assets/images/logo.png" class="logo" alt="TecnoMundo" width="10%">
    SISTEMA ADMINISTRATIVO
  </h1>

  <div class="sesion">
    <button *ngIf="!autenticacionService.isLoggedIn()" routerLink="/login"
      class="btn btn-primary btn-fijo-sesion">INGRESAR</button>

    <button *ngIf="autenticacionService.isLoggedIn() && idUsuario" [routerLink]="['/perfilUsuario', idUsuario]"
      class="btn btn-primary btn-fijo-sesion">PERFIL</button>

    <button *ngIf="autenticacionService.isLoggedIn()" (click)="logout()" class="btn btn-danger btn-fijo-sesion">CERRAR
      SESIÓN</button>

  </div>
</nav>


<div class="contenedor">

  <!--Menu lateral-->

  <aside class="aside-menu text-white p-3">

    <ul class="nav flex-column">

      <li>
        <span class="menu-title"> CATALOGO </span>
        <ul class="submenu">
          <li><a class="no-underline" routerLink="listaProductos" routerLinkActive="active-link">Productos</a></li>
          <li><a class="no-underline" routerLink="listaMarcas" routerLinkActive="active-link">Marcas</a></li>
          <li><a class="no-underline" routerLink="listaCategorias" routerLinkActive="active-link">Categorias</a>
        </ul>
      </li>


      <li>
        <span class="menu-title"> CLIENTES</span>
        <ul class="submenu">
          <li><a class="no-underline" routerLink="prueba" routerLinkActive="active-link">Clientes</a></li>

        </ul>
      </li>


      <li>
        <span class="menu-title"> INVENTARIO</span>
        <ul class="submenu">
          <li><a class="no-underline" routerLink="listarInventario" routerLinkActive="active-link">Movimientos</a></li>
        </ul>
      </li>

      <li>
        <span class="menu-title"> USUARIOS DEL SISTEMA</span>
        <ul class="submenu">
          <li><a class="no-underline" routerLink="listaUsuarios" routerLinkActive="active-link">Administradores</a></li>
        </ul>

      </li>

    </ul>

  </aside>

  <!-- Contenido principal-->

  <section class="body">

    <router-outlet></router-outlet>

  </section>



</div>