

<div class="tabla-encabezado">
    <h2>Catálogo de Categorias </h2>

    <button class="btn btn-primary btn-fijo btn-crear"
            routerLink="/crearCategoria" 
            routerLinkActive="active-link" > Agregar categoria
    </button>
</div>


<table >
    <thead>
    <tr>
        <th>IdCategoria</th>
        <th>Categoria</th>
        <th>descripcion</th>
        <th>prefijoCategoria</th>
        <th>Imagen</th>
        <th>Acciones</th>

    </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let categoria of categorias">
        <td>{{categoria.idCategoria}}</td>
    
        <td>{{categoria.nombreCategoria}}</td>

        <td> {{categoria.descripcion}} </td>

        <td> {{categoria.prefijoCategoria}} </td>

        <td>
             <img *ngIf="categoria.imagenesCategoria && categoria.imagenesCategoria.length > 0 " 
             [src]="categoria.imagenesCategoria[0].urlImagen" 
             alt="Imagenes categoria"
             class="listado-img">
        </td>
        

        
        <td>
            
            <button class="btn btn-danger btn-fijo" (click)="confirmarEliminar(categoria)">Eliminar </button>
        </td>

    </tr> 
    </tbody>
</table>

<div class="paginacion">
    <button class="btn btn-primary btn-fijo" (click)="cambiarPagina(paginaActual -1)"
        [disabled]="paginaActual ===0">Anterior</button>
    <span>Pàgina {{ paginaActual +1 }} de {{ totalPaginas }}</span>
    <button class="btn btn-primary btn-fijo" (click)="cambiarPagina(paginaActual +1)"
        [disabled]="paginaActual + 1 >= totalPaginas">Siguiente Pagina</button>
</div>


<!-- Modal de confirmacion-->

