

<div class="tabla-encabezado">
    <h2>Catálogo de Productos</h2>

    <button class="btn btn-primary btn-fijo btn-crear"
            routerLink="/agregarProducto" 
            routerLinkActive="active-link" > Agregar producto
    </button>
</div>


<table >
    <thead>
    <tr>
        <th>Codigo</th>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Descripcion</th>
        <th>Categoria</th>
        <th>Marca</th>       
        <th>Fecha Registro</th>
        <th>Acciones</th>
   
    </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let producto of productos">
        <td>{{producto.codigoProducto}}</td>
        
        <td>
             <img *ngIf="producto.imagenesProducto && producto.imagenesProducto.length > 0 " 
             [src]="producto.imagenesProducto[0].urlImagen" 
             alt="Imagenes producto"
             class="listado-img">
        </td>
        <td>{{producto.nombreProducto}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.categoria.nombreCategoria}}</td>
        <td>{{producto.marca.nombreMarca}}</td>
        <td>{{producto.fechaRegistro}}</td>
        <td>
            <button class="btn btn-primary btn-fijo" 
                            [routerLink]="['/detallesProducto', producto.idProducto]">
                            Visualizar</button>
            <button class="btn btn-danger btn-fijo" (click)="confirmarEliminar(producto)">Eliminar </button>
        </td>

    </tr> 
    </tbody>
</table>

<div class="paginacion">
    <button class="btn btn-primary btn-fijo" (click)="cambiarPagina(paginaActual -1)"
        [disabled]="paginaActual ===0">Anterior</button>
    <span>Pàgina {{ paginaActual +1 }} de {{ totalPaginas }}</span>
    <button class="btn btn-primary btn-fijo" (click)="cambiarPagina(paginaActual +1)"
        [disabled]="paginaActual + 1 >= totalPaginas">Siguiente Pagina</button>
</div>


<!-- Modal de confirmacion-->

<div class="modal" *ngIf="mostrarModal">

    <div class="modal-content">

        <h3>Confirmar Eliminaciòn</h3>

        <p>
            ¿Seguro que quieres eliminar el producto 
            {{productoAEliminar?.nombreProducto}}
        </p>

        <button type="button" class="btn btn-danger btn-fijo-sesion"(click)="eliminarProducto()">Si, eliminar</button>
        
        <button type="button" class="btn btn-primary btn-fijo-sesion"(click)="cancelarEliminar()">Cancelar</button>


        
    </div>

</div>





