<div *ngIf="usuario" class="perfil-container">

  <!-- CABECERA DEL PERFIL-->
  <div class="perfil-header">

  <div class="perfil-identidad">

    <img 
    class="perfil-avatar" 
    [src]="usuario.imagenUsuario?.urlImagen" 
    alt="Foto de usuario">

    <div>

      <span class="perfil-label">  PERFIL DE USUARIO</span>

      <h2>
        {{ usuario.nombreUsuario}}
      </h2>

      <p>
        {{ usuario.correo}}
      </p>

    </div>

  </div>

  <button 
    class="btn btn-primary btn-guardar" 
    [routerLink]="['/modificarUsuario', usuario.idUsuario]"> 
    MODIFICAR
  </button>
  

  <!-- IMFORMACIÓN DE CUENTA -->

  <div class="perfil-grid">

      <div class="perfil-card">
        
        <span>ROL</span>
        <strong>{{usuario.rol.nombreRol}}</strong> 
      
      </div>

    
      <div class="perfil-card">
        
        <span>ESTADO</span>
        <strong class="estado-activo">
          {{usuario.estadoUsuario.nombreEstado}}
        </strong>
      
      </div>



      <div class="perfil-card">
        
        <span>FECHA DE REGISTRO</span>

        <strong>
          {{ usuario.fechaRegistro | date: 'dd/mm/yyyy' }}
        </strong> 
      
      </div>

  </div>

  </div>


  <!-- DATOS PERSONALES -->

 <div *ngIf="usuario" class="perfil-seccion"> 
  
  
  <div class="perfil-seccion-header">
    <h3>Datos personales</h3>
    <span>Información del usuario</span>
  
  </div>
  
  <div class="datos-grid">

  <div class="dato">
    <span>Nombres Persona</span> 
    <strong>{{usuario.persona.nombresPersona}}</strong>
  </div>

  <div class="dato">
    <span>Apellidos: </span> 
    <strong>{{usuario.persona.apellidosPersona}}</strong>
  </div>

  <div class="dato">
    <span>Tipo Documento:</span> 
    <strong>{{usuario.persona.tipoDocumento}}</strong>
  </div>

  <div class="dato">
    <span>Numero Documento:</span> 
    <strong>{{usuario.persona.numeroDocumento}}</strong>
  </div>

  <div class="dato">
    <span>Fecha Nacimiento:</span> 
    <strong>{{usuario.persona.fechaNacimiento}}</strong>
  </div>

  <div class="dato">
    <span>Genero:</span>
     <strong>{{usuario.persona.sexo}}</strong>
    </div>

  <div class="dato">
    <span>Telefono:</span> 
    <strong>{{usuario.persona.telefono}}</strong>
  </div>

  <div class="dato"><span>Correo Secundario:</span> <strong>{{usuario.persona.correoSecundario}}</strong></div>

  <div class="dato"><span>Direccion:</span> <strong>{{usuario.persona.direccion}}</strong></div>

  <div class="dato"><span>Ciudad:</span> <strong>{{usuario.persona.ciudad}}</strong></div>

  <div class="dato"><span>Pais:</span> <strong>{{usuario.persona.pais}}</strong></div>

  </div>
</div>




</div>
<div *ngIf="!usuario" class="loading">
  <p>Cargando perfil...</p>
</div>